/* Button Lite with white Background */
.btnLite {
  background-color: var(--bg-lite);
  color: var(--color-active);
  padding: 5px 12px;
  border-radius: 3px;
  font-size: 14px;
  border: 1px solid var(--border-active);
  outline: 0;
}

.btnLite:hover {
  background-color: var(--bg-btnhover);
  color: var(--border-hover);
  border-color: var(--border-hover);
}

/* Button colored with filled */
.btnLite:focus {
  border-color: var(--border-focus);
  box-shadow: 0 0 0 1px var(--border-focus);
}

.btnFill {
  background-color: var(--color-active3);
  color: #fff;
  padding: 5px 12px;
  border-radius: 3px;
  font-size: 14px;
  outline: 0;
  border: 1px solid var(--color-active3);
}

.btnFill:hover {
  background-color: var(--color-active);
  border-color: var(--color-active);
}

.btnFill:focus {
  border-color: white;
  box-shadow: 0 0 0 2px var(--border-focus);
}
